
/* Custom styles for the navbar */
.navbar {
  background-color: #000000; /* Blue background color */
}

.navbar-brand {
  font-size: 1.5rem; /* Increase the font size of the brand */
}

.nav-link {
  padding: 0.5rem 1rem; /* Add some padding to the navigation links */
}
